# Latest pycord, with the voice extra (PyNaCl + davey)
py-cord[voice] @ git+https://github.com/Pycord-Development/pycord
# Pycord aiohttp speedup
aiodns
Brotli
charset-normalizer
# Rest
aiohttp
requests
python-dotenv
peewee
