# Latest pycord
git+https://github.com/Pycord-Development/pycord
# Pycord Audio dep
PyNaCl
# Pycord aiohttp speedup
aiodns
brotlipy
charset-normalizer
# Rest
pytube
yt_dlp
beautifulsoup4
spotdl
spotipy
python-dotenv
ytmusicapi
peewee
spotapi
